{% extends "base.html" %}

{% block title %}Home - Files Uploader{% endblock %}

{% block content %}
    <h1>File Uploader</h1>
    <p class="file-details">Click the buttons below to upload files.</p>

        {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash-messages">
          {% for category, message in messages %}
            <li class="flash-message {{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="upload-container">
{#    {% if current_user.is_authenticated %}#}
{#        <div class="upload-section">#}
{#            <a href="{{ url_for('upload_form') }}">Good, Better, Best</a>#}
{#        </div>#}

{#        <div class="upload-section">#}
{#            <a href="{{ url_for('upload_form_part_term') }}">Part Term</a>#}
{#        </div>#}

{#        <div class="upload-section">#}
{#            <a href="{{ url_for('upload_form_cust_part_attr') }}">Custom Part Attributes</a>#}
{#        </div>#}
{##}
        <div class="upload-section">
            <a href="{{ url_for('upload_load_sku_list') }}">Load Sku List For Interchanges</a>
        </div>
{#        {% else %}#}
{#            <div class="upload-section">#}
{#                <a href="{{ url_for('login') }}">Log In</a>#}
{#            </div>#}
{#        {% endif %}#}

    </div>
{% endblock %}
