{% extends "base.html" %}

{% block title %}Upload Files{% endblock %}

{% block content %}
    <div class="file-headings">
        <h1>Load Sku List for Interchanges</h1>
        <p class="file-details">Choose Upload Options</p>
    </div>


    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash-messages">
          {% for category, message in messages %}
            <li class="flash-message {{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="upload-container">
        <div class="upload-section">
            <a href="{{ url_for('load_sku_options', upload_type='linecode_partnumber') }}">With LineCode and PartNumber</a>
        </div>

        <div class="upload-section">
            <a href="{{ url_for('load_sku_options', upload_type='sku') }}">With SKU (linecode+partnumber)</a>
        </div>

        <div class="upload-section">
            <a href="{{ url_for('load_sku_options', upload_type='partnumber_only') }}">With PartNumber Only</a>
        </div>
    </div>



{% endblock %}
