{% extends "base.html" %}

{% block title %}Upload CSV - Part Term{% endblock %}

{% block content %}
    <div class="file-headings">
        <h1>Upload Part Terms File</h1>
        <p class="file-details">Upload file details: lc, part, parttermid.</p>
    </div>


    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash-messages">
          {% for category, message in messages %}
            <li class="flash-message {{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="loading-spinner" id="spinner">
        <img src="/static/images/spinner.svg" alt="Loading...">
    </div>

    <form id="uploadForm" action="{{ url_for('upload_part_term') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx" required>
        <button class="upload-button" type="submit" id="uploadButton">Upload</button>
    </form>

    <script src="{{ url_for('static', filename='js/spinner.js') }}"></script>
{% endblock %}
